<div>
  <nav class="header-bar">
    <div class="d-flex justify-content-between">
      <div class="logo" routerLink="/app">Talker</div>
      <div class="d-flex header-menu">
        <div class="header-menu-item" routerLink="/app">首頁</div>
        <div class="d-flex" *ngIf="isLogin">
          <div class="header-menu-item" (click)="openModal(template3)">
            {{ accountName }}
          </div>
          <div class="header-menu-item" (click)="logout()">登出</div>
        </div>
        <div class="d-flex" *ngIf="!isLogin">
          <div class="header-menu-item" (click)="openModal(template1)">
            登入
          </div>
          <div class="header-menu-item" (click)="openModal(template2)">
            註冊
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="body">
    <div class="container-lg">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #template1>
  <app-modal title="登入">
    <form
      class="center"
      [formGroup]="loginForm"
      (ngSubmit)="onLoginSingSubmit(loginForm, true)"
    >
      <div class="inputbox">
        <input type="email" name="email" formControlName="account" />
        <span>信箱</span>
      </div>
      <div class="inputbox">
        <input type="text" name="password" formControlName="password" />
        <span>密碼</span>
      </div>
      <div class="inputbox center-margin">
        <button class="w-100" type="submit">送出</button>
        <div *ngIf="!!errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
      </div>
    </form>
  </app-modal>
</ng-template>

<ng-template #template2>
  <app-modal title="註冊">
    <form
      class="center"
      [formGroup]="signForm"
      (ngSubmit)="onLoginSingSubmit(signForm, false)"
    >
      <div class="inputbox">
        <input type="email" name="email" formControlName="account" />
        <span>信箱</span>
      </div>
      <div class="inputbox">
        <input type="text" name="password" formControlName="password" />
        <span>密碼</span>
      </div>
      <div class="inputbox">
        <input type="text" name="nickName" formControlName="nickName" />
        <span>暱稱</span>
      </div>
      <div class="inputbox center-margin">
        <button class="w-100" type="submit">送出</button>
        <div *ngIf="!!errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
      </div>
    </form>
  </app-modal>
</ng-template>

<ng-template #template3>
  <app-modal title="個人資料">
    <app-profile [modalRef]="modalRef"></app-profile>
  </app-modal>
</ng-template>

<ngx-spinner></ngx-spinner>
