<app-box>
  <div class="article-box">
    <div class="d-flex justify-content-between flex-wrap">
      <h1>{{ article?.title }}</h1>
      <div>{{ article?.nickName }} • {{ article?.timeTw }}</div>
    </div>
    <div class="tips">{{ article?.location }} • {{ article?.tips }}</div>
    <div class="subtitle">{{ article?.summaryContent }}</div>
    <div class="content" [innerHTML]="article?.content"></div>

    <div class="reply">
      <textarea
        name=""
        id=""
        cols="30"
        rows="10"
        [(ngModel)]="inputMessage"
      ></textarea>
      <button
        type="button"
        class="btn btn-success"
        (click)="createMessage()"
        [disabled]="!inputMessage"
      >
        留言
      </button>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="isHiddenName"
        name="isHiddenName"
        [(ngModel)]="checkboxHiddenName"
      />
      <label class="form-check-label" for="defaultCheck1"> 匿名請打勾 </label>
    </div>
  </div>

  <div class="messages">
    <div
      *ngFor="let item of messages"
      ngClass="speech-bubble-{{ item.isOwnMessage ? 'right' : 'left' }}"
    >
      <div class="message-item" *ngIf="!item.openState">
        {{ item.content }}
      </div>
      <div *ngIf="item.openState">
        <textarea
          id=""
          cols="30"
          rows="10"
          [(ngModel)]="item.content"
        ></textarea>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="isHiddenName"
            name="isHiddenName"
            [(ngModel)]="item.isHiddenName"
          />
          <label class="form-check-label" for="defaultCheck1">
            匿名請打勾
          </label>
        </div>
      </div>
      <div class="text-end me-3">
        <div *ngIf="item.isOwnMessage">
          <button
            type="button"
            class="btn btn-success"
            (click)="updataMessage(item)"
          >
            {{ item.openState ? "更新" : "編輯" }}
          </button>
          <button
            *ngIf="item.openState"
            type="button"
            class="btn btn-secondary"
            (click)="cancelMessage(item)"
          >
            取消
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteMessage(item)"
          >
            刪除
          </button>
        </div>
        <div>{{ item.nickName }} • {{ item.timeTw }}</div>
      </div>
    </div>
  </div>
</app-box>
