<app-box>
  <div class="article-box">
    <div class="d-flex justify-content-between">
      <h1>{{ article?.title }}</h1>
      <div>{{ article?.nickName }} • {{ article?.time }}</div>
    </div>
    <div class="tips">{{ article?.location }} • {{ article?.tips }}</div>
    <div class="subtitle">{{ article?.summaryContent }}</div>
    <div class="content" [innerHTML]="article?.content"></div>

    <div class="reply">
      <textarea
        name=""
        id=""
        cols="30"
        rows="10"
        [(ngModel)]="inputMessage"
      ></textarea>
      <button
        type="button"
        class="btn btn-success"
        (click)="createMessage()"
        [disabled]="!inputMessage"
      >
        留言
      </button>
    </div>
  </div>

  <div class="messages">
    <div
      *ngFor="let item of messages"
      ngClass="speech-bubble-{{ item.isOwnMessage ? 'right' : 'left' }}"
    >
      {{ item.content }}
    </div>
  </div>
</app-box>
