<app-box>
  <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">標題</label>
      <input
        type="text"
        class="form-control"
        formControlName="title"
        [ngClass]="{ error: !!articleForm.get('title')?.errors }"
      />
      <div class="form-text">標題不能超過12個字。</div>
    </div>
    <div class="mb-3">
      <label class="form-label">摘要</label>
      <input
        type="text"
        class="form-control"
        formControlName="summaryContnet"
        [ngClass]="{ error: !!articleForm.get('summaryContnet')?.errors }"
      />
      <div class="form-text">摘要必須至少12個字，但不能超過30個字。</div>
    </div>
    <div class="mb-3">
      <label class="form-label">地理位置</label>
      <div class="d-flex">
        <select
          class="form-select"
          formControlName="cityName"
          [ngClass]="{ error: !!articleForm.get('cityName')?.errors }"
          (change)="changeCity($event)"
        >
          <option value="" [disabled]="true">城市</option>
          <option *ngFor="let item of city" [value]="item.name">
            {{ item.name }}
          </option>
        </select>
        <select
          class="form-select"
          formControlName="districts"
          [ngClass]="{ error: !!articleForm.get('districts')?.errors }"
        >
          <option value="" [disabled]="true">地區</option>
          <option
            *ngFor="let districtItem of districts"
            [value]="districtItem.name"
          >
            {{ districtItem.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">提示</label>
      <input
        type="text"
        class="form-control"
        formControlName="tips"
        [ngClass]="{ error: !!articleForm.get('tips')?.errors }"
      />
      <div class="form-text">
        可輸入一些關鍵字來暗示，例如可以輸入學校、仲介、Ｘ先生或更詳細地址等...。
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">內容</label>
      <quill-editor
        [modules]="modules"
        formControlName="content"
        [ngClass]="{ errorContent: !!articleForm.get('content')?.errors }"
        (onEditorCreated)="getEditorInstance($event)"
      ></quill-editor>
      <div class="form-text">
        可輸入內容如需插入圖片，請使用網址帶入，以後有錢在增加空間上傳功能。
      </div>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="defaultCheck1"
        formControlName="isHiddenName"
      />
      <label class="form-check-label" for="defaultCheck1"> 匿名請打勾 </label>
    </div>

    <button type="submit" class="btn btn-primary mt-3 mb-5">Submit</button>
  </form>
</app-box>
