.modal-header {
  border-bottom: initial;
  padding-bottom: 0;
}
.modal-body {
  padding: 2rem;
  padding-top: 0;
}

.modal-body h1 {
  font-size: 2em;
  border-bottom: 3px solid dodgerblue;
  text-align: center;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}
