<div class="list-item-box">
  <div class="list-item-box-label">
    {{ setting?.location }} • {{ setting?.tips }}
  </div>
  <h1 class="list-item-box-title">{{ setting?.title }}</h1>
  <div class="list-item-box-content">
    {{ setting?.summaryContent }}
  </div>
  <div class="list-item-box-footer d-flex justify-content-between">
    <div>Reply: 1000</div>
    <div>{{ setting?.nickName }} • {{ setting?.time }}</div>
  </div>
  <div *ngIf="isControlBtn" class="text-end">
    <button
      type="button"
      class="btn btn-success"
      (click)="updateGo(setting?.articleId)"
    >
      更新
    </button>
    <button type="button" class="btn btn-danger">刪除</button>
  </div>
</div>
