<div class="row">
  <div class="col-xl-4">
    <div class="row">
      <div class="col-12">
        <app-box>
          <div class="btn-group" dropdown>
            <button
              dropdownToggle
              type="button"
              class="btn btn-primary dropdown-toggle"
            >
              Button dropdown <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">Action</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another action</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
              <li class="divider dropdown-divider"></li>
              <li>
                <a class="dropdown-item" href="#">Separated link</a>
              </li>
            </ul>
          </div>
          <div>
            <input class="input-search" type="text" />
          </div>
          <button type="button" class="btn btn-primary w-100">Search</button>
        </app-box>
      </div>
      <div class="col-12">
        <app-box>
          <app-accordion></app-accordion>
        </app-box>
      </div>
    </div>
  </div>
  <div class="col-xl-8">
    <app-box>
      <app-list-item
        *ngFor="let item of articlesList"
        [setting]="item"
      ></app-list-item>
    </app-box>
  </div>
</div>
