<div class="row">
  <div class="col-xl-4">
    <div class="row">
      <div class="col-12">
        <app-box>
          <div class="btn-group" dropdown>
            <button
              dropdownToggle
              type="button"
              class="btn btn-primary dropdown-toggle"
            >
              {{ selectedCity }} <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu">
              <li *ngFor="let item of city">
                <a class="dropdown-item" (click)="selectedCityFtn(item)">{{
                  item.name
                }}</a>
              </li>
            </ul>
          </div>
          <div class="btn-group" dropdown>
            <button
              dropdownToggle
              type="button"
              class="btn btn-primary dropdown-toggle"
            >
              {{ selectDistrict }} <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu">
              <li *ngFor="let item of districts">
                <a class="dropdown-item" (click)="selectedDistrictFtn(item)">{{
                  item.name
                }}</a>
              </li>
            </ul>
          </div>
          <div>
            <input class="input-search" type="text" [(ngModel)]="filterText" />
          </div>
          <button
            type="button"
            class="btn btn-primary w-100"
            (click)="filterFtn()"
          >
            Search
          </button>
        </app-box>
      </div>
      <div class="col-12">
        <app-box>
          <app-accordion></app-accordion>
        </app-box>
      </div>
    </div>
  </div>
  <div class="col-xl-8">
    <app-box>
      <app-list-item
        *ngFor="let item of articlesList"
        [setting]="item"
      ></app-list-item>
    </app-box>
  </div>
</div>
